/* ********** Custom Properties ********** */
:root {
  --first-color: rgb(212, 0, 27);
  --second-color: rgb(69, 79, 99);
}


/* ********** Bootstrap Styles *********** */
.bg-danger {
  background-color: var(--first-color) !important;
}

.navbar-brand img {
  width: auto;
  height: 30px;
}

.btn-danger {
  background-color: var(--first-color);
}

.bg-dark {
  background-color: var(--second-color) !important;
}


/* ********** Styles *********** */
.login-form {
  font-size: 1rem;
}

.login-form form {
  background: rgb(247, 247, 247);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
  padding: 2rem;
}

.login-form h2 {
  margin: 0 0 1rem;
  color: var(--second-color);
}

.form-control,
.btn {
  min-height: 38px;
  border-radius: 2px;
  margin-bottom: 16px;
}

.btn {
  font-size: 15px;
  font-weight: bold;
}