/* ********** Custom Properties ********** */
:root {
  --first-color: rgb(212, 0, 27);
  --first-alpha-color: rgb(212, 0, 27, 0.75);
  --second-color: rgb(86, 86, 87);
  --bg-color: rgb(245, 245, 245);
  --bg-alpha-color: rgb(245, 245, 245, 0.75);
}



/* ********** Reset Styles ********** */

a:hover {
  background-color: var(--first-alpha-color) !important;
  font-weight: bold;
}



/* ********** Bootstrap Styles *********** */
.btn-danger {
  background-color: var(--first-color);
}

.bg-danger {
  background-color: var(--first-color) !important;
}

.bg-dark {
  background-color: var(--second-color) !important;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23d4001b'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e");
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23d4001b'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.navbar-brand img {
  width: auto;
  height: 30px;
}



/* ********** Styles *********** */
.bg-color {
  background-color: var(--bg-color);
}

.bg-alpha-color {
  background-color: var(--bg-alpha-color);
}

.bg-hero-image {
  background-image: url(../img/hero-image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.login-form {
  font-size: 1rem;
}

.login-form form {
  background: rgb(247, 247, 247);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
  padding: 2rem;
}

.login-form h2 {
  margin: 0 0 1rem;
  color: var(--second-color);
}